<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="webjars/bootstrap/4.5.3/css/bootstrap.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script type="text/javascript" src="../static/main.js" th:src="@{/main.js}"></script>
    <title>Main</title>
</head>
<body>
<header>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-2">
        <div class="navbar-nav mt-2 mt-lg-0">
            <div class="nav-item text-white">
                <span th:text="${userData.name}" class="font-weight-bold"> Name </span> with roles: <span th:text="${userData.roles}"> Roles </span>
            </div>
        </div>
        <div class="navbar-nav mt-2 mt-lg-0">
            <div class="nav-item">
                <a href="/logout" class=" nav-link">Logout <span class="sr-only"></span></a>
            </div>
        </div>
    </nav>
</header>
<div class="container mx-lg-0">
<div class="row mt-2">
    <div class="nav flex-column nav-pills col-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link text-center active" id="v-pills-admin-tab" data-toggle="pill" href="#v-pills-admin"  role="tab" aria-controls="v-pills-admin" aria-selected="false">Admin</a>
        <a class="nav-link text-center" id="v-pills-user-tab" data-toggle="pill" href="#v-pills-user"  role="tab" aria-controls="v-pills-user" aria-selected="false">User</a>
    </div>
    <div class="tab-content col-10" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel" aria-labelledby="v-pills-admin-tab">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#tabAdmin" class="nav-link active" data-toggle="tab">Users table</a>
                </li>
                <li class="nav-item">
                    <a href="#adduser" class="nav-link"  data-toggle="tab">New User</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active text-style" id="tabAdmin">
                    <div>
                        <h3>Admin panel</h3>
                        <div class="tab-content">
                            <h4>Users table</h4>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>Department</th>
                                    <th>Salary</th>
                                    <th>Password</th>
                                    <th>Roles</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users}">
                                    <td><span th:text="${user.name}"> name </span></td>
                                    <td><span th:text="${user.surname}"> surname </span></td>
                                    <td><span th:text="${user.department}"> department </span></td>
                                    <td><span th:text="${user.salary}"> salary</span></td>
                                    <td><span th:text="${user.password}"> password </span></td>
                                    <td><span th:text="${user.roles}"> Roles </span></td>
                                    <td><button type="button" class="btn btn-info" data-toggle="modal" th:data-target="'#editModal' + ${user.id}"> Edit </button>

                                        <!-- Edit user modal BEGIN -->
                                        <div class="modal fade" th:id="'editModal' + ${user.id}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Edit user</h5>
                                                        <button type="button" class="close" data-dismiss="modal">
                                                            <span>&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div>
                                                            <form  th:action="@{/admin/edit/{id}(id=${user.id})}" th:object="${user}" method="post">
                                                                <div class="form-group">
                                                                    <label for="idEdit" class="font-weight-bold text-center">ID</label>
                                                                    <input type="text" class="form-control" th:value="${user.id}" id="idEdit" name="id" disabled/>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="nameEdit" class="font-weight-bold text-center">Name</label>
                                                                    <input type="text" class="form-control" th:value="${user.name}" id="nameEdit" name="name"/>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="surnameEdit" class="font-weight-bold text-center">Surname</label>
                                                                    <input type="text" class="form-control" th:value="${user.surname}" id="surnameEdit" name="surname"/>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="departmentEdit" class="font-weight-bold text-center">Department</label>
                                                                    <input type="text" class="form-control" th:value="${user.department}" id="departmentEdit" name="department"/>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="salaryEdit" class="font-weight-bold text-center">Salary</label>
                                                                    <input type="number" class="form-control" th:value="${user.salary}" id="salaryEdit" name="salary"/>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="passwordEdit" class="font-weight-bold text-center">Password</label>
                                                                    <input type="password" class="form-control" th:value="${user.password}" id="passwordEdit" name="password"/>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col-auto">
                                                                        <label class="mr-sm-2 font-weight-bold text-center" for="editRole">Role</label>
                                                                        <select size="2" id="editRole" th:field="*{roles}" multiple="multiple">
                                                                            <option th:each="role : ${roles}"
                                                                                    th:field="*{roles}"
                                                                                    th:value="${role}"
                                                                                    th:text="${role}">
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                    <button type="submit" class="btn btn-primary" >Edit</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Edit user modal END -->
                                    </td>
                                    <td><button type="button" class="btn btn-danger" data-toggle="modal" th:data-target="'#deleteModal' + ${user.id}"> Delete </button>
                                        <!--a class="btn btn-danger"> Delete </a-->
                                        <!-- Delete user modal BEGIN -->
                                        <div class="modal fade" th:id="'deleteModal' + ${user.id}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Delete user</h5>
                                                        <button type="button" class="close" data-dismiss="modal">
                                                            <span>&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">

                                                        <div>
                                                            <form  th:action="@{/admin/delete/{id}(id=${user.id})}"  method="get">
                                                                <div class="form-group">
                                                                    <label for="deleteId" class="font-weight-bold text-center">ID</label>
                                                                    <input type="text" class="form-control" th:value="${user.id}" id="deleteId" disabled/>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="deleteName" class="font-weight-bold text-center">Name</label>
                                                                    <input type="text" class="form-control" th:value="${user.name}" id="deleteName" disabled/>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="deleteSurname" class="font-weight-bold text-center">Surname</label>
                                                                    <input type="text" class="form-control" th:value="${user.surname}" id="deleteSurname" disabled/>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="deleteDepartment" class="font-weight-bold text-center">Department</label>
                                                                    <input type="text" class="form-control" th:value="${user.department}" id="deleteDepartment" disabled/>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="deleteSalary" class="font-weight-bold text-center">Salary</label>
                                                                    <input type="number" class="form-control" th:value="${user.salary}" id="deleteSalary" disabled/>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="deletePassword" class="font-weight-bold text-center">Password</label>
                                                                    <input type="text" class="form-control" th:value="${user.password}" id="deletePassword" disabled/>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <label class="mr-sm-2 font-weight-bold text-center" for="deleteRole">Role</label>
                                                                    <select size="2" id="deleteRole" multiple="multiple">
                                                                        <option th:each="role:${roles}"
                                                                                th:value="${role}"
                                                                                th:text="${role}">
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                    <button type="submit" class="btn btn-primary" >Delete</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Delete user modal END -->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane  text-style" id="adduser">

                    <div>
                        <h4>Add new user</h4>
                    </div>

                    <form th:action="@{/admin/add}" th:object="${user}"  method="post">
                        <div class="form-group">
                            <div class="col-3"></div>
                            <div class="col-4 justify-content-center">
                                <label for="addname" class="font-weight-bold text-center">Name</label>
                                <input type="text" class="form-control" id="addname" th:field="*{name}" />
                                <br>
                                <label for="addsurname" class="font-weight-bold text-center">Surname</label>
                                <input type="text" class="form-control" id="addsurname" th:field="*{surname}"/>
                                <br>
                                <label for="adddepartment" class="font-weight-bold text-center" >Department</label>
                                <input type="text" class="form-control" id="adddepartment" th:field="*{department}"/>
                                <br>
                                <label for="addsalary" class="font-weight-bold text-center">Salary</label>
                                <input type="number" class="form-control" id="addsalary" th:field="*{salary}"/>
                                <br>
                                <label for="addpassword" class="font-weight-bold text-center">Password</label>
                                <input type="text" class="form-control" id="addpassword" th:field="*{password}"/>
                                <br>
                                <div class="align-items-center">
                                    <div class="col-auto">
                                        <label class="mr-sm-2 font-weight-bold text-center" for="chooserole">Role</label>
                                        <select size="2" id="chooserole" th:field="*{roles}" multiple="multiple">
                                            <option th:each="role : ${roles}"
                                                    th:value="${role}"
                                                    th:text="${role}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                            <div class="col-3"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane fade " id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">

            <h1>User information-page</h1>
            <div>
                <table class="table table-hover">
                    <h2>About user</h2>
                    <thead>
                    <tr>
                        <th> Name </th>
                        <th> Surname </th>
                        <th> Department </th>
                        <th> Salary </th>
                        <th> Password </th>
                        <th> Role </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><span th:text="${userData.name}"> ID </span></td>
                        <td><span th:text="${userData.surname}"> First Name </span></td>
                        <td><span th:text="${userData.department}"> Last Name </span></td>
                        <td><span th:text="${userData.salary}"> Age </span></td>
                        <td><span th:text="${userData.password}"> Email </span></td>
                        <td><span th:text="${userData.roles}"> Roles </span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>


<!-- Дополнительный JavaScript; выберите один из двух! -->

<!-- Вариант 1: Bootstrap в связке с Popper -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- Вариант 2: Bootstrap JS отдельно от Popper
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
-->
</body>
</html>